.donut-container {
  margin: 0 auto;
  position: relative;
  display: grid;
  place-items: center;
  font-family: sans-serif;
}

.donut-svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.donut-track {
  fill: none;
  stroke: #e5e7eb; /* màu xám nhạt */
}

.donut-bar {
  fill: none;
  stroke: #33cf6dff; /* màu xanh */
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease;
}

.donut-text {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 16px;
}